.panel.panel-welcome-to-firebase {
  background: #fff url("http://localhost:3000/static/account-background.png");
  background-position: right top;
  background-repeat: no-repeat;
  padding: 8em 0 12em 0;
}
